.container {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 100%;
  margin: 0 auto;
}

.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}

span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #d12a2a;
}

h2 {
  font-size: 19px;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 30px;
  max-width: 100%;
  margin-top: 30px;
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* Alinha os itens à esquerda */
  max-width: 300px;
  gap: 13px;
  padding: 12px;
  background-color: #faf7f7;
  border-radius: 8px;
}

.infos {
  margin-top: auto;
  
}

.button_detalhes{
  background-color: #f32c2c;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.button_detalhes a {
  color: #fff;
}

.button_detalhes:hover {
  background-color:#d12a2a ;
}
.button_detalhes a:hover {
  color: #fff;
}

a:hover{
  color: #d12a2a;
}

button:hover{
  cursor: pointer;
}

