.movie_background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

}

.movie_details {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 800px;
  padding: 20px;
  color: #e0e0e0;
}

.movie_details h2 {
  margin-top: 58px;
  font-size: 100px;
  white-space: nowrap;
}

.movie_info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.titulo {
  margin-bottom: 30px;
}

.tagline {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.info p {
  font-size: 16px;
}

.info.description {
  margin-top: 20px;
}

.info.description h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info.description p {
  font-size: 16px;
  line-height: 1.5;
}

#navbar{
  background-color: rgba(0, 0, 0, 0);
}

#navbar button{
  border: none;
}