#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  width: 100%;
}

#navbar h2 a {
  font-display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f32c2c;
}

#navbar form {
  display: flex;
  gap: .5rrem;
}

.pesquisa {
  display: flex;
}

#navbar input {
  padding:.8rem;
  border-radius: 6px;
  border: none;
  margin: 0px 10px;
  border: 2px solid rgb(245, 245, 245);
}

#navbar button {
  background-color:#c00000 ;
  display: flex;
  align-items: center;
  padding: 0rem .8rem;
  color: #fff;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 6px;
}

