*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  color: #000000
}

a {
  text-decoration: none;
  color: #f32c2c;
  display: flex;
}

a:hover {
  color:#c92a2a;
}